.cart-checkout-section .main-title{
	padding:20px;
	
}
.cart-checkout-section .cart-summary{
	margin-top:20px;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:5px;
}
.cart-checkout-section .cart-info{
	margin:5px;
}
.cart-checkout-section .item-title{
	font-size:20px;
}
.cart-checkout-section .item-price{
	font-size:20px;
}
.cart-checkout-section .item-description{
	
}
.cart-checkout-section .item-title{
	padding-top:10px;
	padding-bottom:10px;	
}
.cart-checkout-section .item-price{
	padding-top:10px;
	padding-bottom:10px;		
}
.bs-callout+.bs-callout {
margin-top: -5px;
}
.bs-callout-info {
border-left-color: #5bc0de!important;
}
.bs-callout {
padding: 20px;
margin: 20px 0;
border: 1px solid #eee;
border-left-width: 5px;
border-radius: 3px;
}

/*==================================================
 * box panel background Effect 7
 * ===============================================*/
.panel-shadow-style
{
	margin-bottom:5px;
	border-radius:5px;
	background-color:#fff;
  	position:relative;       
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.panel-shadow-style:before, .panel-shadow-style:after
{
	content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
} 
.panel-shadow-style:after
{
	right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
       -moz-transform:skew(8deg) rotate(3deg);     
        -ms-transform:skew(8deg) rotate(3deg);     
         -o-transform:skew(8deg) rotate(3deg); 
            transform:skew(8deg) rotate(3deg);
}
