
html, body{
	font-family: 'Open Sans', sans-serif!important;
	
}
/* navigation bar section */

.theme1-nav .title-style{
	
	color: #555;
	font-style: normal;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.20em;
	-webkit-font-smoothing: antialiased;
	line-height:30px;
	height: auto;
	white-space:pre-wrap;
}
.theme1-nav .title-sm{font-size:15px;}
.theme1-nav .title-lg{font-size:25px;}
.theme1-nav .logoimage {width: 200px; height: 80px;}
.theme1-nav .logoimage-shrink{width: 66.665px; height: 50px;}
.theme1-nav .transition{
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0.25s;
	-webkit-transition-property: height;
	-webkit-transition-timing-function: linear;
	
	transition-delay: 0s;
	transition-duration: 0.25s;
	transition-property: height;
	transition-timing-function: linear;	
}
.theme1-nav .navlogo2{
	background: url("asset/img/etc/icon_256x256@2x.png")no-repeat center center;
	background-size: contain;
}
.theme1-nav #title, .theme1-nav #logo{
	cursor:pointer;
}
@media (min-width: 1028px){ /* bigger desktop view */
	
	.theme1-nav #title{margin-top:0px!important;	}
	.theme1-nav #logo{margin-left:20px!important;}
	.theme1-nav .title-position{padding-left:20px!important;}
}
@media (min-width: 768px){ /* desktop view */
	.theme1-nav .secondary-nav{margin-top:-50px;}
	.theme1-nav #logo{margin-left:0px;}
	.theme1-nav #title{margin-top:-30px;}
	.theme1-nav .title-position{padding-left:5px;}
}
@media (max-width: 767px){/*mobile view */
	.theme1-nav #title{font-size:13px;}
	.theme1-nav .logoimage { width: 66.665px; height: 50px; } 
	.theme1-nav .brand{ margin-left:0px; margin-right:0px;}
	.theme1-nav .brand-inner{padding-left:0px;}
		
}
.theme1-nav #logo{margin-left:3px; margin-top:3px; margin-bottom:3px;}
.theme1-nav .flex-container {
  
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  
  -webkit-align-items: center; 
  align-items: center; 
}






@media (max-width: 767px){/* fix mobile view menu bar static stick to the top */

.navbar-fixed-top {
	position: static;
	margin-bottom: 0px;
}
}



.navbar{
	border:0;	
}
.navbar *{
	text-transform: uppercase;
	font-size: 12px;	
}

.navbar-brand{
	font-size: 25px;
	padding-bottom: 10px;
	color: #555;
	font-style: normal;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.20em;
	-webkit-font-smoothing: antialiased;
	line-height:30px;
	height: auto;
	white-space:pre-wrap;
}
.theme1-nav .navbar-toggle{
  
  float: none;
  margin-right: 0;
}


.main-nav{
	background-color:#333;	
}
.navbar-default .navbar-nav>li>a {
color: #999;
}
.navbar-default .navbar-nav>li>a:hover {
color: #fff;
-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0.25s;
	-webkit-transition-property: color;
	-webkit-transition-timing-function: linear;
	
	transition-delay: 0s;
	transition-duration: 0.25s;
	transition-property: color;
	transition-timing-function: linear;
}
.secondary-nav .dropdown-toggle:hover {
color: #000!important;
-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0.25s;
	-webkit-transition-property: color;
	-webkit-transition-timing-function: linear;
	
	transition-delay: 0s;
	transition-duration: 0.25s;
	transition-property: color;
	transition-timing-function: linear;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
color: #fff;
border-bottom:4px solid #fff;
background-color:#333;
}

/*.open>.dropdown-menu {
border-top:4px solid #666;
}*/

/* mobile vertical alignment styles */
.theme1-nav .col-middle {
    vertical-align:middle;
	padding-right:20px;
}


/* mobile vertical alignment styles */
.theme1-nav .col-xs-height {
    display:table-cell;
    float:none;
}


.main-nav .navbar-default .navbar-nav>li>a:visited {
color: #999;

}

.navbar .secondary-nav{
	padding-right: 30px;	
}



@media (max-width: 767px){/*mobile view */
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
border-bottom:0px solid #fff;
border-left:4px solid #fff;
background-color:#333;
}
.navbar-brand{
	font-size: 20px;
}

}
/* end of navigation bar section */


/* blinking text */

.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 5s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.2; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.2; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.2; }
    100% { opacity: 1.0; }
}
/* end of blinking text css */





/*-------------------------- Desktop style banner slider ----------------------------------
/*-------------------------- Desktop style banner slider ----------------------------------
/*-------------------------- Desktop style banner slider ----------------------------------
/*-------------------------- Desktop style banner slider ----------------------------------
/*-------------------------- Desktop style banner slider ----------------------------------
/*-------------------------- Desktop style banner slider ----------------------------------

/* Carousel base class */
 .carousel {
   /* padding-top: 105px;*/
	border-bottom:1px solid #000;
    /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
     
}

@media (max-width: 767px){
.carousel {
   /* padding-top: 57px;*/
    /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}

}
/* Since positioning the image, we need to help out the caption */
 .carousel-caption {
    text-shadow: none;
    z-index: 10;

    margin: 50px;
    padding: 0 40px;
}

.carousel-caption h1 {
    font-size: 80px;
    font-weight:200;
    line-height:1;
}

.carousel-caption-shade {
    color: #fff;
    background-color: rgba(250,250,250,.3)
}

.carousel-indicators {
  z-index: 13;
}
/* Declare heights because of positioning of img element */
 .carousel .item {
    min-height:400px;
    min-width:100%;
    background-color: #f2f2f2;
}
.carousel-inner > .item > img {
   /* position: absolute;
    top: 0;
    left: 0;
    height:400px;*/
}
.carousel-inner .item {
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}
.carousel-control.left {
  background-image: none;
}
.carousel-control.right {
  background-image: none;
}

.img-40 {
    width:40%;
}

.ad1 {
    background: url(../img/banner/place11.jpg) no-repeat center center;
}
.ad2 {
    background: url(../img/banner/place4.jpg) no-repeat center top;
}

.ad3 {
    background: url(../img/banner/place2.jpg) no-repeat center top;
}

.ad4 {
    background: url(../img/banner/place3.jpg) no-repeat center top;
}
.ad5 {
    background: url(../img/banner/place6.jpg) no-repeat center top;
}



.shadow-layer {
    background-color:none;
    background-color: rgba(0,0,0,0.3);
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.shadow-layer:hover {
    background-color: rgba(0, 0, 0, 0.0);
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Remove the edge padding needed for mobile */
    .marketing {
        padding-left: 0;
        padding-right: 0;
    }
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

  .carousel-caption h1{
     font-size: 60px;
  }
}
@media (max-width: 991px) {j
    .carousel .item {
       min-height:400px;
    }
}
@media (min-width: 992px) {
    /* Narrow Menu bar and Body part, but banner slider show */
   .container {
        width: 860px;
    }

  .carousel-caption h1{
     font-size: 70px;
  }
}



/*-------------------------- mobile style banner slider ----------------------------------*/
/*-------------------------- mobile style banner slider ----------------------------------*/
/*-------------------------- mobile style banner slider ----------------------------------*/
/*-------------------------- mobile style banner slider ----------------------------------*/
/*-------------------------- mobile style banner slider ----------------------------------*/
/*-------------------------- mobile style banner slider ----------------------------------*/

@media (max-width: 767px) {/*mobile view */
	
	 .carousel-caption {
        padding: 0;
    }
    .carousel-caption h1 {
        font-size:40px;
    }

	.carousel-inner .item {
		 min-height:0px!important;
		 width: 100%;
	  	 padding-bottom: 56.25%;   /* 16:9 size */
		-webkit-background-size: cover!important;
		-moz-background-size: cover!important;
		-o-background-size: cover!important;
		background-size: cover!important;
	}
}
@media (max-width: 500px) {
	 .carousel-caption {
        padding: 0;
    }
    .carousel-caption h1 {
        font-size:20px;
    }
	.carousel a.btn{
		padding: 5px 8px;
		font-size: 12px;
	}
}
/*-------------------------- end of mobile style banner slider ----------------------------------*/







/* Buttons
--------------------------------*/
.btn-clear {
    color: #fff;
    background-color: transparent;
    border: 3px solid #fff;
}
.btn-clear:hover {
    color: #333;
    background-color: #fff;
    border: 3px solid #fff;
}
.btn-clear:focus,
.btn-clear:active, {
    color: #fff;
    background-color: transparent;
    border: 3px solid #fff;
}
.btn-dark {
    font-weight: 400;
    color: #fff;
    background-color: #444;
    border: 1px solid #444;
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #444;
    background-color: #fff;
    border: 3px solid #444;
}
.btn-clear-on-white {
    color: #333;
    background-color: transparent;
    border: 1px solid #c1c1c1;
}
.btn-clear-on-white:hover,
.btn-clear-on-white:focus {
    color: #333;
    background-color: #f1f1f1;
    border: solid 1px #c1c1c1;
}
.btn-clear-on-white:active {
    color: #fff;
    background-color: #333;
}
.btn-group .btn .
.input-group button {
    margin-left: 5px;
}


/* image size box - one class finish all the job for resizing the img - you need to size the image box*/
.ratio-img-box-cover {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
}


/***************footer section**********************/

footer { 
 font-size: 10px;
	font-style: normal;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.20em;
	-webkit-font-smoothing: antialiased;
  height: auto;
  padding: 28px 0 5px 0;
  text-align: center; 
  background: #333;
  margin: 0;
  position: relative;
  color: #BBB;
  opacity: 1;
/*  border-top: 2px dotted #555;*/

}
footer .cotyright{
    margin: 10px 0;
	letter-spacing: 1px;
	-webkit-font-smoothing: antialiased;
}
footer .tip{
    width: 0;
    height: 0;
    position: absolute;
    top: -36px;
    right: 20%;
}
footer a{
    color: #EEE;
	letter-spacing: 1px;
	-webkit-font-smoothing: antialiased;
	line-height:20px;
}
footer .supportedby{
	margin-bottom:30px;
}
footer .supportedby-texts{
	margin-bottom:10px;
}
footer .socialmedia-footer{
	letter-spacing: 1px;
}
footer .powerby{
	text-transform:capitalize;
}
	
/* end of footer section */





/* -------------------- program display mode 1 style ------------------------------*/
/* -------------------- program display mode 1 style ------------------------------*/
/* -------------------- program display mode 1 style ------------------------------*/
/* -------------------- program display mode 1 style ------------------------------*/
/* -------------------- program display mode 1 style ------------------------------*/
/* -------------------- program display mode 1 style ------------------------------*/
/* -------------------- program display mode 1 style ------------------------------*/
/* -------------------- program display mode 1 style ------------------------------*/

.programs-section{
	padding-top:30px;
	min-height:800px;
	height:auto;
	background-color:#ccc;		
}
.no-padding{
	padding:0px!important;	
}

.programs-section .wrapper2{
	min-height:800px;
	padding-top:5px;
	padding-bottom:5px;	
}
.programs-section .navbar-form {
	margin-top: 0px;
}
.programs-section  .sort-control-label {
	margin-right: 5px;
}
.programs-section  .key-words-label {
	
	margin-right: 5px;
}
.programs-section  .panel-color-theme{

	font-size:12px;
	border:none;
	-webkit-box-shadow: 0 0 8px #bbb;
	-moz-box-shadow: 0 0 8px #bbb;
	box-shadow: 0 0 8px #bbb



}
.programs-section  .panel-color-theme>.panel-heading {
color: #fff;
background-color:#AAA;

}

.programs-section .catagory .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {

}


.programs-section .badge {
display: inline-block;
min-width: 10px;
padding: 3px 7px;
font-size: 10px;
 font-weight: 100;
line-height: 1;
color: #fff;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
background-color: #B8BDBB;
border-radius: 10px;
}
.programs-section .sort-control{
	padding-bottom:10px;	
}
.programs-section .key-words{
	
	padding-bottom:10px;	
	
}

.programs-section .navbar-form {
	padding: 0px 0px;
}
.programs-section .sort-control{
	display:inline-block;


}

.programs-section .key-words{
	display:inline-block;

}
/* mobile view */
@media (max-width: 767px){
.programs-section{
	/*padding-top:80px;*/		
}
.programs-section .navbar-form{
	margin-bottom: 0px;	
	border-bottom: none;
}
.programs-section .key-words{
	width:49%;	
}
.programs-section .sort-control{
	float:none;
	width:49%;	
}
.programs-section .key-words .btn{
	width:100%;	
}
.programs-section .sort-control .btn-group{
	width:100%;	
}
.programs-section .sort-control .btn{
	width:100%;	
}
.programs-section .navbar-form {
	padding: 10px 15px;
}
}




/* program cards section*/


/* desktop view size css*/
.programs-section .card-item{
	width:100%;
	position: relative;
	height: 150px;
	background-color:#fff;
	border-radius:5px;
	cursor:pointer;
	margin-bottom:20px;
	
	-webkit-box-shadow: 0 0 8px #C9C5C5;
	-moz-box-shadow: 0 0 8px #C9C5C5;
	box-shadow: 0 0 8px #C9C5C5;
	

}

.programs-section .image{
	width: 100%;
	min-height:150px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
}

.programs-section #no-padding{
	padding-left:0px!important;
	padding-right:0px!important;
}
.programs-section .title{
	font-family: 'Oswald', sans-serif;
	font-size: 22px;
	line-height: 30px;
	color: #888;
	font-weight: 100;
	-webkit-font-smoothing: antialiased;
}
.programs-section .from{
	font-size: 10px;
	padding-top:20px;
	padding-bottom:12px;
	
}
.programs-section .view-detail{
	font-size: 10px;

	
}
.mobile-inline-block{
	display:inline-block!important;
}
.programs-section .price{
	padding-top:0px;
	margin-top:0px;
	padding-bottom: 10px;
	display: block;
	
	font-size: 13px;
	color: #555;
	font-style: normal;
	font-weight: 300;
	line-height: 1.17em;
	text-transform: uppercase;
	letter-spacing: 0.00em;
	-webkit-font-smoothing: antialiased;
	
		
}
.programs-section .description{
	font-size:12px;
	line-height:17px;
}
#right-border{

	border-right:1px solid #F1F1F1;
}
#no-left-right-padding{
	padding-left:0px;
}
/* mobile view size css */

@media (max-width: 767px){
	
/* mobile view */
#right-border{

	border-right:none;
}
.programs-section .card-item{
	height: 200px!important;	
}

.programs-section .card-item .price{
	margin-right:-3px;
	display:inline-block;
	float:right;
	font-size:14px;
	color:#777;
	padding-bottom:8px;
	padding-top:8px;
	padding-left: 15px; 
	padding-right: 15px; 
	border-radius:2px;
	margin-top:10px;
	background-color:rgba(0,0,0,0.1);
}
#no-right-padding{
	padding-right:0px;	
}
#no-left-padding{
	padding-left:0px;	
}
#no-left-right-padding{
	padding-left:0px;
	padding-right:0px;	
}

.programs-section .title{
font-family: 'Open Sans', sans-serif;
font-size: 15px;
line-height: 1.42857143;
color: #333;
}





}

/* ------------------program display mode 2 --------------------*/
/* ------------------program display mode 2 --------------------*/
/* ------------------program display mode 2 --------------------*/
/* ------------------program display mode 2 --------------------*/
/* ------------------program display mode 2 --------------------*/
/* ------------------program display mode 2 --------------------*/
/* ------------------program display mode 2 --------------------*/
/* ------------------program display mode 2 --------------------*/
/* ------------------program display mode 2 --------------------*/
/* ------------------program display mode 2 --------------------*/
/* ------------------program display mode 2 --------------------*/
/* ------------------program display mode 2 --------------------*/
/* ------------------program display mode 2 --------------------*/
/* ------------------program display mode 2 --------------------*/
/* ------------------program display mode 2 --------------------*/
/* ------------------program display mode 2 --------------------*/
/* ------------------program display mode 2 --------------------*/


@charset "utf-8";
/* Desktop View Program cards CSS Document */



.jumbotron .desktop-program-title{
	font-size: 30px;
	padding-bottom: 10px;
	color: #555;
	font-style: normal;
	font-weight: 300;
	line-height: 1.17em;
	text-transform: uppercase;
	letter-spacing: 0.20em;
	-webkit-font-smoothing: antialiased;

}


.jumbotron .content{
	display: block;
	position: relative;
	width: 100%;
	height: 178px;
	margin: 0;
	padding-top: 50%;
	margin-left: auto;
	margin-right: auto;
	-webkit-font-smoothing: antialiased;

	
}
.jumbotron .program-title{

	font-family: 'Oswald', sans-serif;
	font-size: 25px;
	line-height: 30px;
	color:#888;
	font-weight:100;
	-webkit-font-smoothing: antialiased;

}

.jumbotron .from{
	font-family: 'Oswald', sans-serif;
	width:48px;
	color: #888;
	font-size: 14px;
	line-height: 25px;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	text-transform: uppercase;

	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	
}


.jumbotron .price{
	font-family: 'Oswald', sans-serif;
	color: #888;
	font-size: 20px;
	font-weight: 30px;
	line-height: 60px;
	word-wrap: break-word;
	-webkit-font-smoothing: antialiased;
}

.jumbotron{
	background-color:#DDD;
/*	background:url(../img/etc/program-bg.jpg);*/
	margin-bottom: 0px;

}

.programs{
	border-right: solid 1px #e5e5e5;	
}
.programs p {
	margin-bottom: 0px;
}
.gray-bg{
	background-color:#E1E0E2;
}
.white-bg{
	background-color:#FFF;
}
.programs-card{
	height:266px;
	padding-left:0px;
	background-color:#FFF;
	border-radius: 4px;
	cursor:pointer;
}
.program-shadow{
	background-image: url(../img/etc/shadow2.png);
	background-repeat: no-repeat;
	height: 30px;
	background-size: 100% auto;
	
}
.five-rows-text-limit{

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical; 

}
.four-rows-text-limit{

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical; 

}
.three-rows-text-limit{

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; 

}
.two-row-text-limit {
overflow: hidden;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
}

.one-row-text-limit {
overflow: hidden;
display: -webkit-box;
-webkit-line-clamp: 1;
-webkit-box-orient: vertical;
}

/* image size box - one class finish all the job for resizing the img*/
.programs-card .item {
	min-height: 266px;/* desktop view image height*/
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
}
.tour1 {
    background: url(../img/plan/tour1.jpg) no-repeat center center;
}
.tour2 {
    background: url(../img/plan/tour2.jpg) no-repeat center center;
}

.tour3 {
    background: url(../img/plan/tour3.jpg) no-repeat center center;
}

.tour4 {
    background: url(../img/plan/tour4.jpg) no-repeat center center;
}
.tour5 {
    background: url(../img/plan/tour5.jpg) no-repeat center center;
}
.tour6 {
    background: url(../img/plan/tour6.jpg) no-repeat center center;
}
.tour7 {
    background: url(../img/plan/tour7.jpg) no-repeat center center;
}
.news1{
	background: url(http://ww2.sinaimg.cn/bmiddle/b4031917gw1elcof5i8cyj20bw0gn75l.jpg)no-repeat center center; 	
}
.news2{
	background: url(http://ww3.sinaimg.cn/bmiddle/b4031917gw1elbkmi428rj20b70cj3zt.jpg)no-repeat center center; 	
}
.news3{
	background: url(http://ww4.sinaimg.cn/bmiddle/b4031917jw1elberq3r7vj20h4078wgi.jpg)no-repeat center center; 	
}
.news4{
	background: url(http://ww3.sinaimg.cn/bmiddle/b4031917jw1elbetpc1qjj20ci08cq4f.jpg)no-repeat center center; 	
}
.navlogo{
	background: url(http://ussmissouri.cn/bundles/business/images/template/logo.png	)no-repeat center center;
	background-size: contain;
}
.navlogo1{
	background: url(http://totalgdsimg.qiniudn.com/536c1f6994a252f72400005f	)no-repeat center center;
	background-size: contain;
}
.navlogo2{
	background: url(http://www.koolinaoceanadventures.com/images/logot.png)no-repeat center center;
	background-size: contain;
}
#no-left-padding{
	padding-left:0px;
}


#no-padding{
	padding:0px;
}

.fadeIn {
  -vendor-animation-duration: 10s;
  -vendor-animation-delay: 5s;
  -vendor-animation-iteration-count: infinite;
}

.jumbotron .view-detail{
	font-family: 'Oswald', sans-serif;
	width:100px;
	color: #313131;
	font-size: 14px;
	line-height: 25px;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	text-transform: uppercase;
	border-top: solid 1px #d2d2d2;
	border-bottom: solid 1px #d2d2d2;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

.jumbotron .view-detail:hover{
	box-shadow: 0 0 5px #000;
	
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0.25s;
	-webkit-transition-property: box-shadow;
	-webkit-transition-timing-function: linear;
	
	transition-delay: 0s;
	transition-duration: 0.25s;
	transition-property: box-shadow;
	transition-timing-function: linear;

}
.jumbotron .programs h5{
line-height: 22px;	
}


/* mobile view of program plans - home page */
.mobile{
	padding-bottom:10px;
	background-color:#DDD;	
}
.padding-left-right-3%{
	padding-left:3%;
	padding-right:3%;
}

.mobile-program-card{
	max-width:360px;
	margin:0 auto;
	cursor:pointer;
	background-color:#fff;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	-webkit-box-shadow: 0px 2px rgba(170, 170, 170, 0.39);
	box-shadow: 0px 2px rgba(170, 170, 170, 0.39);
}
.mobile-program-card .program-image{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.mobile-program-title .mobile-program-card{
	cursor:default;
	padding: 30px;
	border-radius: 5px;
	overflow: hidden;
	
	
}

.mobile-program-card .item {
	min-height:200px;   /* mobile programe image height */
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mobile-program-title{
	
	font-size: 17px;
	color: #000;
	font-style: normal;
	font-weight: 300;
	line-height: 40px;
	text-transform: uppercase;
	letter-spacing: 0.20em;
	-webkit-font-smoothing: antialiased;
	padding-top:20px;
	-webkit-box-shadow: 0px 3px #AAAAAA;
	box-shadow: 0px 3px #AAAAAA;
}

.mobile-program-card .price{
	vertical-align:middle;
    display:table-cell;
    float:none;
	padding-right: 0px;		
}
.mobile-program-card .price h5{

	color:#777;
	padding-bottom:8px;
	padding-top:8px;
	padding-left: 15px; 
	padding-right: 15px; 
	border-radius:2px;
	background-color:rgba(0,0,0,0.1);
		
}

.mobile-program-card .title{
	vertical-align:middle;
    display:table-cell;
    float:none;
	font-size:18px;
	color:#111;
	padding-bottom:3px;
	padding-top:3px;
	border-radius:2px;
	line-height:24px;
	
		
}

.mobile-program-card .program-detail .row{
	position:relative;
	margin-right: -3px; /* override bootstrap */
	margin-left: 0px; /* override bootstrap */
}	




/* iphone 6 plus size display */
@media (max-width: 480px) {
    .mobile .view-detail {
        list-style: none;
        text-decoration: none;
    }
    
    .mobile-program-title p{
       
         font-size:15px!important;
        margin-bottom: 0px!important; 
        
    }
    .mobile .view-detail .title{
        font-size: 15px;
        font-family: 'Open Sans', sans-serif !important; 
        color:#888;
    }
    .mobile{
        padding:5px;
	background-color:#DDD;	
    }
    .mobile-program-title{
        
        padding:0px;
        padding-top:5px;
        
    }
     .mobile-program-card:hover{
         
        -webkit-box-shadow: 0 0 7px rgba(0,0,0,.5);
        -moz-box-shadow: 0 0 7px rgba(0,0,0,.5);
        box-shadow: 0 0 7px rgba(0,0,0,.5);
        -webkit-transition-delay: 0s;
        -webkit-transition-duration: 0.25s;
        -webkit-transition-property: box-shadow;
        -webkit-transition-timing-function: linear;
        }

    
    
}
