


.page-heading {
background: #eaeaea;
padding-top: 33px;
padding-bottom: 23px;
}

.pathway {
margin-top: 15px;
font-size: 10.4px;
text-transform: uppercase;
}
.pathway a{
	color:#333!important;	
}
.text-right {
text-align: right;
}

.page-heading h1{
	margin-top: 0;
	line-height: 1.25;	
	font-size: 30px;
}