
body {
    background-color: #fff;
    /* background: url(/bundles/business/images/template/darkdenim3.png) repeat 0 0 #555; */
}


.main-nav {
    background-color: #FFF; /* Navigation bar background color */
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #000;
    border-bottom-color: white;
    background-color: #FFF; /* Navigation bar active color */
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #000;
    background-color: #FFF;
}
.jumbotron {
    background-color: #FFF; /* main body content background color */
}
.navbar-default .navbar-nav>li>a {
    color:  #999;   /* Navigation bar text color */
}
.jumbotron .desktop-program-title {
    color: #999;   /* acitivities big title text color */
}
.programs-card {
    background-color: #DDD;   /* card background color */
}
.navbar-default .navbar-nav>li>a:hover {
    color: #000;    /* nav hover over color */
}


.theme1-nav .title-style {
    color: #999;
}
.navbar-default {
    background-color: white;
    border-color: #eb7350;
}
.secondary-nav .dropdown-toggle:hover {
    color: #eb7350!important;
}
.secondary-nav a{
    color:#999!important;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #494949;
}
.carousel {
    border-bottom-color: white;
}

.jumbotron .program-title {
    color: #5C5C5C;
}

.programs {
    border-right-color:  #ddd;
}
.jumbotron .from {
    color: #999;
}
.jumbotron .price {
    color: #999;
}
.jumbotron .view-detail {
    color: #333;
}
footer {
   background: #FFF ;
   color: #999;
}
footer {
    box-shadow: 0px 500px 0px 500px #fff;
}
footer a {
   color: black;
}
footer a:hover {
color: #eb7350;
text-decoration: none;
}